<nav class="">
  <div
    class="max-w-screen flex flex-wrap items-center justify-between mx-auto p-5 mx-8 xl:mx-60"
  >
    <a href="#">
      <span class="self-center text-4xl font-bold tracking-widest"
        >Trackletics</span
      >
    </a>

    <div class="w-full md:block md:w-auto" id="navbar">
      <ul
        class="flex flex-col font-large p-4 md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a href="classes" class="text-2xl text-gray-400 hover:text-orange-600"
            >Classes</a
          >
        </li>

        <li>
          <a
            href="products"
            class="text-2xl text-gray-400 hover:text-orange-600"
            >Products</a
          >
        </li>

        <li>
          <a href="company" class="text-2xl text-gray-400 hover:text-orange-600"
            >Company</a
          >
        </li>

        <li>
          <a
            href="news"
            class="text-2xl text-gray-400 hover:text-orange-600 rounded-full"
            >News</a
          >
        </li>

        <li
          class="rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1"
        >
          <div
            class="bg-white back hover:bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
          >
            <a href="signup" class="text-2xl text-gray-400 hover:text-black p-4"
              >Sign up</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
